@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');
@media (max-width: 1200px) 
{
    .cabecalho
    {
        padding: 10%;
    }
    .cabecalho_menu
    {
        justify-content: center;
    }
    .apresentacao 
    {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao_conteudo
    {
        width: auto;
    }
       
}
*
{
    margin:0;
    padding:0;
}
:root
{
    --cor-primaria:#000000;
    --cor-secundaria:#aa6210;
    --cor-tercearia:#e4c0a9;
    --cor-hover: #ecc592;
    --fonte-principal: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Montserrat',sans-serif;
}
body
{
    /* height: 100vh; */ 
    box-sizing: border-box; 
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho
{
    padding:2% 0% 0% 15%;
    color:var(--cor-primaria);
    background-color:var(--cor-tercearia);
    padding: 23px;
    text-align: center;
    font-family:var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}
.cabecalho_menu 
{
    display: flex;
    gap: 80px;
}   
.cabecalho_menu_link 
{
    font-family:var(--fonte-secundaria);
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--cor-primaria);
    text-decoration: none;
}   
.apresentacao 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*padding: 5% 15%;*/ 
    margin: 10% 15%;
    gap: 84px;
}
.apresentacao_conteudo
{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao_conteudo_titulo
{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
    font-style: normal;
    font-weight: 600;
}
.apresentacao_conteudo_texto 
{
    font-size: 1.5rem;
    line-height: 36px;
    font-family: var(--fonte-secundaria);
    font-style: normal;
    font-weight: 400;
}
.apresentacao_imagem
{
    width: 50%;
}  
.apresentacao_links 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px; 
}
.apresentacao_links_subtitulo
{
    font-family:var(--fonte-principal);
    font-weight: 400;
    size: 24px;
}
.apresentacao_links_apresentacao
{
    /*background-color: #22D4FD;*/
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-tercearia); 
    width: 378px;
    text-align: center;
    border-radius: 8px; 
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none; 
    color:var(--cor-secundaria);
    font-family:var(--fonte-secundaria);
}
.apresentacao_links_apresentacao:hover 
{
    background-color:var(--cor-hover);
}   
.titulo-destaque 
{
    color:var(--cor-tercearia);
}
.rodape
{
    color:var(--cor-primaria);
    background-color:var(--cor-tercearia);
    padding: 23px;
    text-align: center;
    font-family:var(--fonte-principal);
    font-size: 1.5rem;
    font-weight: 400;
}